.DS_Store
build/
lib/SDL-1.2.15/local
lib/SDL-1.2.15/Makefile
lib/SDL-1.2.15/SDL.qpg
lib/SDL-1.2.15/build-deps
lib/SDL-1.2.15/config.log
lib/SDL-1.2.15/config.status
lib/SDL-1.2.15/libtool
lib/SDL-1.2.15/sdl-config
lib/SDL-1.2.15/sdl.pc
lib/boost_1_48_0/stage
lib/boost_1_48_0/bootstrap.log
lib/boost_1_48_0/b2
lib/boost_1_48_0/bin.v2/config.log
lib/boost_1_48_0/bjam
lib/boost_1_48_0/project-config.jam
*.a
*.o
